body {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    background-color: #1a1a1a; 
    color: #f5f5f5; 
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.home-page {
    display: flex;
    height: 95vh; 
    width: 100%;
    justify-content: center;
}

.sidebar {
    width: 20%;
    background-color: #282828;  
    color: #f5f5f5;
    display: ruby;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.sidebar .user-info {
    margin-bottom: 30px;
    text-align: center;
}

.sidebar .user-info img {
    width: 50%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.sidebar .user-info h3 {
    margin-top: 10px;
}

.sidebar .menu {
    list-style-type: none;
    padding: 0;
}

.sidebar .menu li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #444;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar .menu li:hover {
    background-color: #555;
}

.sidebar-button {
    display: block;
    width: 100%;
    padding: 15px;
    color: #f5f5f5;
    background-color: #444;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s;
    cursor: pointer;
}

.sidebar-button:hover {
    background-color: #555;
}

.search-box {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-flex;
    align-items: center;
    background: #444;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.search-box input[type='text'] {
    background: transparent;
    border: none;
    color: #f5f5f5;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 15px;
}

.search-box button {
    background: #f5f5f5;
    border: none;
    color: #444;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

.search-box button:hover {
    background: dodgerblue;
    color: #f5f5f5;
}


.main-content {
    width: 80%;
    background-color: #222;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    overflow-y: hidden;
    padding-bottom: 80px;
}

.main-content .notice-content {
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    height: calc(100% - 40px);
    overflow-y: auto;
    scrollbar-color: #555 #222;
    background-color: #333;
    border-radius: 15px;
    max-height: 600px;
}

.main-content .info-bar {
    background-color: #222;
    color: dodgerblue;
    padding: 20px;
    text-align: center;
}

.main-content .info-content {
    padding: 20px;
    height: calc(100% - 40px);
    overflow-y: auto;
    scrollbar-color: #555 #222;  
}

.main-content .info-content .notice-title {
    font-size: 1.2em;
    color: dodgerblue;
    margin-top: 20px;
}

.main-content .info-content .notice-description {
    color: #f5f5f5;
    margin-left: 10px;
}

.main-content .info-content .user-changeInfo {
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;  /
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.main-content .info-content .user-changeInfo .form {
    display: flex;
}


.main-content .info-content .form input[type='text'] {
    padding: 10px;
    background-color: #444;
    border: none;
    color: #f5f5f5;
    border-radius: 5px;
}

.main-content .info-content .form #choosePhoto {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.main-content .info-content .form button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: none;
    color: #f5f5f5;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.main-content .info-content .form button:hover {
    background-color: #f5f5f5;
    color: dodgerblue;
}
.main-content .info-content .user-basic-info {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.main-content .info-content .user-notification-list {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
}

.main-content .info-content .user-notification-list .notification-card {
    background-color: #444;
    border-radius: 10px;
    position: relative;
    padding: 20px;
    margin-bottom: 10px;
}
.main-content .info-content .user-notification-list .notification-card .view-button {
    background-color: dodgerblue;
    color: #f5f5f5;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    top: 120px;
    right: 50px;
}

.main-content .info-content .user-notification-list .notification-card .view-button:hover {
    background-color: #007ad9;
}


