body {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    background-color: #1a1a1a;  /* Dark background color */
    color: #f5f5f5;  /* Light text color */
    font-family: 'Helvetica Neue', Arial, sans-serif;  /* Modern font */
}

.home-page {
    display: flex;
    height: 95vh;  /* 100% viewport height */
    width: 100%;
    justify-content: center;  /* Centered layout */
}

.sidebar {
    width: 20%;
    background-color: #282828;  /* Darker sidebar */
    color: #f5f5f5;  /* Light text color */
    display: ruby;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);  /* Shadow for depth */
}

.sidebar .user-info {
    margin-bottom: 30px;
    text-align: center;
}

.sidebar .user-info img {
    width: 50%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);  /* Shadow for depth */
}

.sidebar .user-info h3 {
    margin-top: 10px;
}

.sidebar .menu {
    list-style-type: none;
    padding: 0;
}

.sidebar .menu li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #444;  /* Darker menu item background */
    text-align: center;
    cursor: pointer;
    border-radius: 5px;  /* Rounded corners for modern look */
    transition: background-color 0.3s;  /* Smooth color transition */
}

.sidebar .menu li:hover {
    background-color: #555;  /* Lighter color on hover */
}

.sidebar-button {
    display: block;
    width: 100%;
    padding: 15px;
    color: #f5f5f5;
    background-color: #444;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s;
    cursor: pointer;
}

.sidebar-button:hover {
    background-color: #555;
}

.search-box {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-flex;
    align-items: center;
    background: #444;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.search-box input[type='text'] {
    background: transparent;
    border: none;
    color: #f5f5f5;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 15px;
}

.search-box button {
    background: #f5f5f5;
    border: none;
    color: #444;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

.search-box button:hover {
    background: dodgerblue;  /* Corrected color name */
    color: #f5f5f5;
}


.main-content {
    width: 80%;
    background-color: #222;  /* Darker main content background */
    box-shadow: 0 0 10px rgba(0,0,0,0.5);  /* Shadow for depth */
}

.main-content .info-bar {
    background-color: #222;  /* Darker info bar background */
    color: dodgerblue;  /* Bright color for contrast */
    padding: 20px;
    text-align: center;
}

.main-content .notice-content {
    padding: 20px;
    max-height: 80%; /* Limit the height of the content area */
    overflow-y: auto; /* Add scroll if the content exceeds the max height */
    scrollbar-color: #555 #222;  /* Dark scrollbar */
}

.message-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #444;
    margin-bottom: 20px;
}

.message-input textarea {
    overflow-wrap: break-word;
    background: transparent;
    border: none;
    color: #f5f5f5;
    padding: 10px 20px;
    border-radius: 15px;
    resize: vertical;
    box-sizing: border-box;  /* Include padding and border in element's total width */
}

.message-input textarea[name='title'] {
    width: 150%;
    margin-right: 5%;  /* Adjust this value to change the space between title and message */
}

.message-input textarea[name='message1'] {
    width: 350%;
    margin-left: -100%;
}

.message-input textarea[name='message2'] {
    width: 350%;
    margin-left: 23%;
}

.message-input select {
    width: 5%;
    border: none;
    border-radius: 10px;
    background: #f5f5f5;
    color: #444;
    margin-left: 40%;
    margin-right: -6%/* Adjust this value to change the space between select and send */
}

.message-input button {
    width: 5%;
    background: #f5f5f5;
    border: none;
    color: #444;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.message-input button:hover {
    background: dodgerblue;
    color: #f5f5f5;
}


/* Message Boxes */
.message-box {
    background-color: #444;
    padding: 20px;
    margin-bottom: 20px; /* Space between each message box */
    border-radius: 10px;
    position: relative; /* Set position context for absolute positioning of buttons */
}

.message-box p {
    margin-bottom: 20px; /* Space between the message and buttons */
}

/* Modify and Delete Buttons */
.message-box .modify-button,
.message-box .delete-button {
    background-color: dodgerblue;
    color: #f5f5f5;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute; /* Position buttons absolutely inside message box */
    bottom: 10px; /* Position at the bottom of the box */
}

.message-box .modify-button {
    right: 60px; /* Position slightly to the left */
}

.message-box .delete-button {
    right: 10px; /* Position at the far right */
}

.message-box .modify-button:hover,
.message-box .delete-button:hover {
    background-color: #007ad9;
}

.old-notification {
    background-color: #444;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 10px;
    max-height: 100%;  /* Adjust as needed */
    overflow-y: auto;
}

.notification {
    background-color: #444;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 10px;
    max-height: 300px;  /* Adjust as needed */
    overflow-y: auto;
}
.notification .modify-button,
.notification .delete-button {
    background-color: dodgerblue;
    color: #f5f5f5;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute; /* Position buttons absolutely inside message box */
    bottom: 10px; /* Position at the bottom of the box */
}

.notification h2, .notification h3 {
    margin: 10px 0;
}

.notification h2 {
    text-decoration: none;
    color: dodgerblue;
    cursor: pointer;
}

.notification h2:hover {
    text-decoration: underline;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;  /* pushes the element to the bottom */
    width: 100%;
}


.pagination span, .pagination a {
    background-color: dodgerblue;
    color: white;
    border-radius: 15px;
    margin: 0 10px;
    padding: 10px 15px;
    text-decoration: none;
}

.pagination a:hover {
    background-color: darkblue;
}
